<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="global.css" />
    <title>MOVR.</title>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="movr.eu-gb.mybluemix.net"/>
    <meta property="og:title" content="MOVR"/>
    <meta property="og:description" content="MOVR is an accountless way to connect accounts."/>
    <meta property="og:image" itemprop="image"  content="https://movr.eu-gb.mybluemix.net/favicon.png"/>
    <meta property="og:image:secure_url" itemprop="image" content="https://movr.eu-gb.mybluemix.net/favicon.png">
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="<%=url%>"/>
    <link rel="icon" href="/favicon.png">
</head>

<body>
    <div id="loginbody">
        <div id="accountparent">
            <div id="login">Log in with:<b><br/><a class="accountoption"
                        href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= ghid %>&redirect=<%=url%>auth/github/login" style="filter: invert();">
                        <img src="assets/githublogo.svg" alt="GitHub logo" class="logo">
                        <img src="assets/githubtext.svg" alt="GitHub" class="signinwith" style="max-width: 8rem">
                     <a class="accountoption"
                        href="https://discord.com/api/oauth2/authorize?client_id=<%= discordid %>&redirect_uri=<%= encodeURIComponent(url) %>auth/discord/login&response_type=code&scope=identify&prompt=none" style="background-color:#23272A">
                        <img class="signinwith" alt="Discord" src="/assets/discord.svg" style="filter: invert();">
                    </a>
                    <a class="accountoption" href="/redirect/twitch/login" style="background-color:#9146FF">
                        <svg alt="Twitch" style="margin: 0.5rem" class="signinwith" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1140 380"><defs><style>.cls-1{fill:#fff;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="170 170.01 100 170.01 100 190 170 190 170 270.01 60 270.01 20 230.01 20 20 100 20 100 90 170 90 170 170.01"/><polygon class="cls-1" points="470 270.01 230 270.01 190 230.01 190 90 270 90 270 190 290 190 290 90 370 90 370 190 390 190 390 90 470 90 470 270.01"/><rect class="cls-1" x="490" y="90" width="80" height="180"/><rect class="cls-1" x="490" y="20" width="80" height="50"/><polygon class="cls-1" points="740 170.01 670 170.01 670 190 740 190 740 270.01 630 270.01 590 230.01 590 20 670 20 670 90 740 90 740 170.01"/><polygon class="cls-1" points="920 170.01 840 170.01 840 190 920 190 920 270.01 800 270.01 760 230.01 760 130.01 800 90 920 90 920 170.01"/><polygon class="cls-1" points="1120 270.01 1040 270.01 1040 170.01 1020 170.01 1020 270.01 940 270.01 940 20 1020 20 1020 90 1080 90 1120 130.01 1120 270.01"/><path d="M1090,70h-50V0H930.21L879.72,70H790l-30,30V70H690V0H470V70H160.5L110,0H0V240L140,380H280V340l40,40H590V340l40,40H760V340l40,40h250l90-90V120ZM170,170H100v20h70v80H60L20,230V20h80V90h70ZM470,270H230l-40-40V90h80V190h20V90h80V190h20V90h80Zm100,0H490V90h80Zm0-200H490V20h80ZM740,170H670v20h70v80H630l-40-40V20h80V90h70Zm180,0H840v20h80v80H800l-40-40V130l40-40H920Zm200,100h-80V170h-20V270H940V20h80V90h60l40,40Z"/></g></g></svg>
                    </a>
                    <a class="accountoption" href="/redirect/twitter/login">
                        <img class="signinwith" alt="Sign in with Twitter" src="/assets/signinwithtwitter.png">
                    </a>
                    <a class="accountoption" href="/redirect/steam/login" style="background-color: #5F5F5F;">
                        <img class="signinwith" alt="Sign in through Steam" src="/assets/signinthroughsteam.png">
                    </a>
                </b></div>
        </div>
    </div>
    <script src="/progbg.js"></script>
</body>

</html>