<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="global.css" />
    <title>MOVR.</title>
</head>

<body>
    Log in with <b>
        <ul>
            <li><a
                    href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= ghid %>&redirect=<%=githubredirect%>">GitHub</a>
            </li>
            <li><a
                    href="https://discord.com/api/oauth2/authorize?client_id=<%= discordid %>&redirect_uri=<%= discordredirect %>&response_type=code&scope=identify&prompt=none">Discord</a>
            </li>
            <li><a
                    href="https://id.twitch.tv/oauth2/authorize?response_type=code&client_id=<%=twitchid%>&redirect_uri=<%=twitchredirect%>&scope=user:read:email">Twitch</a>
            </li>
            <li><a href="/twitterauth/login">Twitter</a>
            </li>
        </ul>
    </b>
    <script src="/progbg.js"></script>
</body>

</html>