<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/global.css" />
    <title><%=Object.values(precachedaccount)[0].name%> on MOVR.</title>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="movr.eu-gb.mybluemix.net" />
    <meta
      property="og:title"
      content="<%=Object.values(precachedaccount)[0].name%> on MOVR."
    />
    <meta
      property="og:description"
      content="MOVR is an accountless way to connect accounts."
    />
    <meta
      property="og:image"
      itemprop="image"
      content="<%=Object.values(precachedaccount)[0].picture%>"
    />
    <meta
      property="og:image:secure_url"
      itemprop="image"
      content="<%=Object.values(precachedaccount)[0].picture%>"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%=url%><%=from%>/<%=name%>" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta
      id="movrdata"
      data-userid="<%=sessionuserid%>"
      data-ids="<%=JSON.stringify(ids)%>"
      data-predata="<%=JSON.stringify(precachedaccount)%>"
      data-ghid="<%=ghid%>"
      data-discordid="<%=discordid%>"
    />
    <script src="/animate.js"></script>
    <script src="/person.js"></script>
  </head>

  <body>
    <div id="personbody">
      <div id="accountparent">
        <div id="accounts"></div>
      </div>
    </div>
    <script src="/progbg.js"></script>
  </body>
</html>
